/* =Fonts
-------------------------------------------------------------- */
body {
	font-size: 16px;
	line-height: 1.2em;
	font-family:'Ubuntu', sans-serif;
}
body, h6 {
	color: white;
}
h1 {
	font-weight:300;
}
#CLRFL-sidebar .widget-title {
	color: #999999;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}
#CLRFL-pagination {
	font-size: 2em;
}
#CLRFL-pagination .current {
	color: #999;
}


/* =Structure
-------------------------------------------------------------- */
html,
body,
body > .container-fluid,
body > .container-fluid > .row-fluid {
	height: 100%;
}
#CLRFL-content {
	min-height: 100%;
}
body > .container-fluid {
	padding-right:0;
}
#CLRFL-content {
}
#CLRFL-sidebar,
#CLRFL-content {
	padding-top: 20px;
}
#CLRFL-sidebar > * {
	margin:30px 0;
}


/* =Colors
-------------------------------------------------------------- */
/* links */
.CLRFL-color-links a:hover,
.CLRFL-color-links a:active {
	text-decoration: none;
	color: #999;
	position: relative;
}
#CLRFL-main-menu a:hover:before {
	content: "»";
	position: absolute;
	left: -0.7em;
}
.entry-summary a {
	color: white;
	border-radius: 2px;
}
.entry-summary a:hover,
.entry-summary a:active {
	background: white;
	text-decoration: none;
}
.well {
	color: #999;
}

.thumbnail, .CLRFL-unstriped {
	border: none;
	background: #A14296; /* user setting*/
}
#CLRFL-sidebar .widget a:hover {
	background: #EEE;
	text-decoration: none;
}

/* stripes */
.CLRFL-unstriped {
	/* empty */
}
.CLRFL-striped {
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	background:url("img/stripe.png");
	opacity: 0.4; /* user settings */
	z-index: -1;
}

/* Horizontal break */
#CLRFL-content hr {
	height: 5px;
	min-height: 0;
	width: 50%;
	margin: 5px 0;
	border-radius: 5px 0;
	border: none;
	float: left;
}

#CLRFL-content hr:nth-last-child(2) {
	width: 100%;
}

/* =Sidebar
-------------------------------------------------------------- */
#CLRFL-main-menu {
	padding: 10px 5px;
	text-align: left;
}
#CLRFL-main-menu .menu > ul > li {
	font-size: 26px;
	line-height: 1.2em;
	font-weight: 300;
	padding-bottom: 5px;
	border-bottom: 2px #EEE solid;
}
#CLRFL-main-menu .menu > ul > li:last-child {
	border-bottom: none;
}
#CLRFL-main-menu li li {
	font-size: 0.8em;
	line-height: 1.0em;
}

#CLRFL-sidebar > h1 a,
#CLRFL-sidebar > h1 a:hover {
	color: white;
	text-decoration: none;
}
#CLRFL-main-menu ul,
#CLRFL-sidebar .widget ul {
	list-style: none outside none;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 0;
}
#CLRFL-sidebar .widget li a {
	margin-left: -15px;
	margin-right: -15px;
	padding: 3px 15px;
	display: block;
}
#CLRFL-sidebar .widget-title {
	padding: 3px 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* Widgets */
#searchform {
	margin: 0;
}
#CLRFL-sidebar input {
	max-width: 100%;
}

/* =Posts
-------------------------------------------------------------- */
.CLRFL-postlisting h2 a,
.CLRFL-postlisting h2 a:hover {
	color: white;
	text-decoration: none;
	padding: 3px;
	margin-left: -3px;
	font-weight: 300;
	border-radius: 3px;
}
.CLRFL-postlisting .thumbnail img {
	height: auto !important;
}
a.thumbnail:hover {
	background: white;
}
.CLRFL-postlisting {
	padding-bottom: 10px;
}
.CLRFL-postmeta {
	text-align: right;
}
#CLRFL-content > .post,
#CLRFL-content > .page {
	width: 94%;
	margin: 0 3%;
}
#CLRFL-content .post > div > div,
#CLRFL-content .page {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
/* comments */
#CLRFL-comments {
	margin-top: 10px;
}
#CLRFL-comments li {
	margin-top: 10px;
}
#CLRFL-comments .comment-meta {
	font-size: 0.6em;
}
#respond {
	margin-top: 10px;
	border: 1px #eee solid;
	border-radius: 3px;
	background: rgba(0,0,0,0.01);
	padding: 0 5px;
}
#CLRFL-comments label {
	display: inline;
}
#CLRFL-comments input {
	width: 96%
}
#CLRFL-comments textarea {
	display: block;
	width: 96%;
}
#CLRFL-comments .form-submit input {
	width: 97%;
}
/* =Homepage
-------------------------------------------------------------- */
.carousel .item > img {
	width:100%;
}
.carousel .item {
	max-height: 500px; /* user option */
}

/* =Footer
-------------------------------------------------------------- */
#CLRFL-footer {
	text-align: center;
	opacity: 1;
	/* display: none; /* Delete the first /* to hide credits */
}
#CLRFL-footer .credits {
	float: right;
}
#CLRFL-footer .credits span {
	padding: 3px;
}
#CLRFL-footer .credits,
#CLRFL-footer .credits a,
#CLRFL-footer .credits a:hover {
	color: black;
}

/* =Content styling
-------------------------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption-text {
	font-style: italic;
	font-size: 0.8em;
}
ul {
	list-style-type: square;
}
.commentlist, .commentlist ul {
	list-style: none;
}
